body {
	background-color: white;
}
h1 {
	text-align: center;
	margin-top: 75px;
	font-size: 4em;
	font-family: "Comic Sans MS", "cursive", sans-serif;
}
.text {
	width: 50%;
	padding: 10px;
	border-color: black;
	font-size: 25px;
	margin-left: 25%
}
.button {
	font-size: 30px;
	width: 40%;
	margin-left: 25%;
}
h2 {
	text-align: center;
	margin-top: 10%;
	font-size: 70px;
	font-family: "Comic Sans MS", "cursive", sans-serif;
}

